LOG_LEVEL=INFO

# Ollama Settings
OLLAMA_MODEL=mistral-nemo:12b
#OLLAMA_BASE_URL=http://localhost:11434
OLLAMA_BASE_URL=http://192.168.2.218:11434
OLLAMA_BASEURL=http://111.196.180.4:1143
# generate with user name and password in https://www.debugbear.com/basic-auth-header-generator, type Basic Auth
# setup ollama auth proxy with http://111.196.180.46:3000/hailiang-wang/coursesproxy
OLLAMA_HEADER_AUTH=

# Tool Settings
CHATOPERA_BOT_CLIENT_ID=GET ONE FROM https://bot.chatopera.com/
CHATOPERA_BOT_CLIENT_SECRET=GET ONE FROM https://bot.chatopera.com/
TAVILY_API_KEY=xxx