# Ollama Settings
OLLAMA_BASEURL=http://111.196.180.4:11435
# generate with user name and password in https://www.debugbear.com/basic-auth-header-generator, type Basic Auth
# setup ollama auth proxy with http://111.196.180.46:3000/hailiang-wang/coursesproxy
OLLAMA_HEADER_AUTH=