# https://github.com/hailiang-wang/python-env3
env3
# https://github.com/hailiang-wang/python-log5
log5

streamlit==1.41.1
langchain==0.3.16
langchain-community==0.3.16
langchain-ollama==0.2.2
ollama==0.4.8